.card {
  margin-bottom: 10px;
  border: 0px;

  .card-title {
    margin-bottom: 0.5rem;
  }

  .card-body {
    //   background-color: yellowgreen;
    border: 1px solid rgba(0, 0, 0, 0.05);
    min-height: 1px;
    padding: 0.5rem 0.5rem;

    .card-subtitle {
      font-size: 0.8rem;
    }

    .post-type-container {
      display: flex;
      font-size: 0.5rem;
    }
  }
}



ul.post-category {
  padding: 0;
  display: inline-flex;
  flex-wrap: wrap;
  list-style: none;
  margin-bottom: 0;

  li {
    margin-right: 10px;

    span {
      display: inline;
    }
  }
}

ul.post-tags {
  padding: 0;
  display: inline-flex;
  flex-wrap: wrap;
  list-style: none;
  min-width: 0;
  padding: 0;
  margin-bottom: 0;

  li {
    margin-right: 10px;
    overflow: hidden;

    span {
      display: inline;
    }
  }
}

.cardImg {
  width: 300px;
  background-repeat: no-repeat;
  background-size: auto;
}

.card-text a {
  text-decoration: none;
  color: #24292e;
}