.card {
  margin-bottom: 30px;
}
ul.post-tags {
  padding: 0;
  display: inline-flex;
  list-style: none;

  li {
    margin-right: 10px;
  }
}

.cardImg {
  width: 300px;
  background-repeat: no-repeat;
  background-size: auto;
}