.categories > .label > li {
  margin: 0;
  font-size: 14px;
  font-weight: 300;
  display: inline;
  margin-right: 10px;
}

.categories > .label > li > a {
  margin-bottom: 10px;
}

.tags > .label > li {
  margin: 0;
  font-size: 14px;
  font-weight: 300;
  display: inline;
  margin-right: 10px;
}

.tags > .label > li > a {
  margin-bottom: 10px;
}
