.blog-post-content {
  margin-top: 3rem;
  font-family: "Noto Serif KR";

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Noto Serif KR";
  }
  h1 {
    color: #5f00ba;
    margin-top: 4rem;
  }
  h2 {
    color: #a09be7;
    margin-top: 3rem;
  }
  h3 {
    color: #fff2f1;
    // color: #b0ff92;
    // color: #D6FF79;
    margin-top: 2rem;
  }

  li {
    margin-bottom: 0.25rem;

    ul {
      margin-top: 0.25rem;
    }
  }
  code {
    font-family: "Nanum Gothic Coding";
  }

  blockquote {
    font-size: 0.9rem;
    color: rgba(0, 0, 0, 0.64);
    border-left: 4px solid rgba(0, 0, 0, 0.2);
    margin: 0;
    margin-bottom: 1rem;
    padding: 0 1rem 0 1rem;
  }
}
// # category page
// .categories {
//   // margin-top: 20px;
// }

.categories > ul {
  padding: 0px;
  list-style-type: none;
}

.categories > .categoryPost > li {
  margin-top: 60px;
  // list-style-type: none;
}
.categories > .categoryPost > li > a {
  margin-left: 30px;
  display: block;
}

.categories > .label > li {
  margin: 0;
  font-size: 14px;
  font-weight: 300;
  display: inline;
  margin-right: 10px;
}

.categories > .label > li > a {
  margin-bottom: 10px;
}

.tags > .label > li {
  margin: 0;
  font-size: 14px;
  font-weight: 300;
  display: inline;
  margin-right: 10px;
}

.tags > .label > li > a {
  margin-bottom: 10px;
}
